@import "tailwindcss";

/* جعل dark: في Tailwind يعمل مع class="dark" */
@custom-variant dark (&:where(.dark, .dark *));


/* =====================================================
   إعدادات عامة
===================================================== */

html,
body,
#root {

  min-height: 100%;

  margin: 0;

}


/* =====================================================
   الوضع العادي
===================================================== */

body {

  background-color: #F5F7FA;

  color: #263238;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}


/* =====================================================
   الوضع الليلي
===================================================== */

html.dark body {

  background-color: #0F172A;

  color: #FFFFFF;

}


/* =====================================================
   Scrollbar في Dark Mode
===================================================== */

html.dark {

  scrollbar-color: #475569 #0F172A;
}